MYSQLDB_USER=blogadmin
MYSQL_PASSWORD=Deneme.12
MYSQLDB_ROOT_PASSWORD=Deneme.12
MYSQLDB_DATABASE=blog_db
MYSQLDB_HOST=mysqldb
MYSQLDB_LOCAL_PORT=3306
SPRING_LOCAL_PORT=6868
SPRING_DOCKER_PORT=8080

MYSQL_ROOT_HOST=127.*.*.*